<div class = 'card'>
    <div class = 'card-header'><h3 align = "center">
        {{pageTitle}}
      </h3>
    </div>
    <div class='card-body'>
        <div class='row'>
          <div class='col-md-2'>Please insert name to filter:</div>
          <div class='col-md-4'>
            <input type='text'
              [(ngModel)] = 'listFilter'/>
          </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h4>Filtered by: {{listFilter}} </h4>
            </div>
            <div class='col-md-7'>
              <h4>Number of computer components : {{productsLength}}</h4>
          </div>
         </div>
         <div class='table-responsive'>
            <table class='table'
              *ngIf = 'products && products.length'>
              <thead>
                <tr>
                  <th>
                    <button class='btn btn-primary'
                    (click) = 'toggleImage()'>
                        {{showImage ? 'Hide' : 'Show' }} Image
                    </button>
                  </th>
                  <th>id</th>
                  <th>Category</th>
                  <th>Name</th>
                  <th>Brand</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = 'let product of filteredProducts'>
                  <td>
                    <img *ngIf = 'showImage'
                    src = {{product.imageUrl}}
                    title = {{product.name}}
                    style.width.px = {{imageWidth}}
                    style.margin.px = {{imageMargin}}>
                  </td>
                  <td>{{product.id}}</td>
                  <td>{{product.category}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.brand}}</td>
                  <td>{{product.quantity}}</td>
                  <td>{{product.price | currency:'£ '}}</td>
                </tr>
              </tbody>
      </table>
    </div>
 </div>
</div>